services:
  postgres: 
    image: postgres:17-alpine
    environment: 
      - POSTGRES_USER=deng
      - POSTGRES_PASSWORD=deng
      - POSTGRES_DB=simple_bank
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U deng -d simple_bank"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s  
  api: 
    build: 
      context: .
      dockerfile: Dockerfile
    ports: 
      - "8080:8080"
    environment: 
      - DB_SOURCE=postgresql://deng:deng@postgres:5432/simple_bank?sslmode=disable    
    depends_on: 
      postgres: 
        condition: service_healthy
        restart: true     


